@use "./pages/home";
@use "./partials/slider";
@use "./partials/sale-container";
@use "./partials/offer-container";
@use "./partials/accessory-container";
@use "./partials/product-container";
@use "./partials/news";
@use "./components/product-card";
@use "./components/accessory";
@use "./components/offer";
@use "./components/arrow";
@use "./partials/category-menu";

.text-end {
  padding: 1rem;
}
.sale__time {
  display: flex;
  gap: 8px;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 8px;
  font-weight: bold;
}

.time-box .number {
  font-size: 1.5rem;
}

.time-box .label {
  font-size: 1.2rem;
}
