@use "sass:color";

.button-buy-now {
  width: 16rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd700;
  color: #000;
  padding: 1.2rem 2rem;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
  border: none;

  &:hover {
    background-color: color.adjust(#333e48, $lightness: -10%);
    color: #fff;
  }

  &:active {
    transform: scale(0.96);
  }
}
