.product {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 3rem 1.6rem 1.6rem;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
  }

  &__badge {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 50px;
    height: 50px;

    .badge-svg {
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 8px;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__prices-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  &__features {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
  }

  &__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    line-height: 1.2;
  }

  &__status {
    background-color: #ff0;
    color: #333;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    display: inline-block;
  }

  &__prices {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    & > * {
      display: block;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__current-price {
    font-weight: bold;
    font-size: 18px;
    color: #000;
  }

  &__old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
  }

  &__discount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #cb1c22;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0 0 0 1px #cb1c22;
  }

  &__discount-r {
    font-size: 1.4rem;
    color: #cb1c22;
  }

  &__discount-cl {
    font-size: 1.4rem;
    color: #329a29;
  }

  &__name {
    text-align: left;
    font-size: 14px;
    max-width: 23rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
  }

  &__btn {
    display: inline-block;
    background: #ffd700;
    color: #000;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
  }
}
