html {
   font-size: 62.5%; // 1rem = 10px
}

main {
   width: 100%;
   min-height: 100vh;
   font-size: 1.6rem;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

span {
   display: inline-block;
}

.container-main {
   max-width: 1440px;
   margin: 0 auto;
}
