html {
  font-size: 62.5%; // 1rem = 10px
}

main {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  margin: 2rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.popup {
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-overlay {
  z-index: 999;
}
