.remove-padding {
  padding: 0 !important;
}

.sale {
  background-color: #fff;
  padding: 0 2rem 0;
  margin: 2rem 0;
  border-radius: 2rem;
  padding-top: 0 !important;

  &__header {
    margin-bottom: 20px;
    background: linear-gradient(90deg, #f7e965 0%, #f7e965 10%, #f7da34 35%, #f7db5c 60%, #f0d569 100%);

    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem 0 0 0;
    text-align: center;
    color: red;
  }

  &__countdown {
    display: inline-block;
    padding: 0rem 3.2rem;
    border-radius: 1rem 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__countdown-container {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__dates {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

  &__date {
    font-weight: bold;
  }

  &__timer {
    font-size: 1.5rem;
  }

  &__day {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #666;

    span {
      display: block;
      font-size: 14px;
      color: #999;
    }
  }

  &__list {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 20px;
    align-items: center;
    padding: 2rem;

    .product__link {
      min-height: 30.4rem;
    }
    > * {
      flex: 0 0 auto;
    }
  }
}
