.wishlist {
  display: flex;
  gap: 24px;
  padding: 24px;
  background-color: #f5f5f5; // nền xám nhạt để nổi khối trắng
  min-height: 100vh;

  // SIDEBAR
  &__sidebar {
    width: 250px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    text-align: center;
  }

  &__avatar {
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0.25rem;
  }

  &__phone {
    font-size: 14px;
    color: #666;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    text-align: left;

    li {
      padding: 20px 0;
      border-bottom: 1px solid #eee;
      cursor: pointer;
      color: #333;

      &:hover {
        color: #f6ab00;
      }
    }
  }

  // CONTENT
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  // GRID SẢN PHẨM
 &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }

  &__card {
    position: relative;
    background: #fff;
    border-radius: 12px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
   

    &:hover {
      transform: translateY(-3px);
    }
  }

  &__card-img {
    width: 100%;
  height: 160px;
  object-fit: contain;   // hiển thị toàn bộ ảnh
  background-color: #f9f9f9; // nền xám nhạt để đỡ trống
  border-radius: 8px;
  margin-bottom: 12px;

  }

  &__card-name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
    min-height: 40px;
  }

  &__remove {
    background: #ffd700;
    color: black
    ;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;

    &:hover {
      background: #988100;
    }
  }

  &__heart {
  position: absolute;
  top: 10px;
  left: 10px; 
  font-size: 32px; 
  color: #efb9ba;


  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}
}
